<div class="container-fluid">
    <section id="mainForm" class="align-center">
  <header>
      <h1> 3D Mentes Lab ➷</h1>
  </header>
     
       <form #userForm = "ngForm" 
            (ngSubmit)="RegisterStudent(userForm.value)" id="registerForm">
      <input class="input col-10" name="name" type="text" placeholder="Nombres" [(ngModel)]="nombre" />
         <input class="input col-10" name="apellidos" type="text" placeholder="Apellidos" [(ngModel)]="apellido" />
            <input class="input col-10" name="email" type="email" placeholder="Email" [(ngModel)]="email" />
               <input class="input col-10" name="phone" type="tel" placeholder="Teléfono" [(ngModel)]="telefono" />
      <button type="submit" value="submit" class="btn col-6 btn-success">Registrate</button>
      <button type="submit" value="submit" class="btn col-6 btn-success" (click)="sendEmail(value)">Enviar mail</button>
      </form> 

      <footer>S
          <i>Entérate lo nuevo,<a> siguenos...</a></i>
      </footer>
          <a href="https://www.facebook.com/3dmenteslab/?ref=aymt_homepage_panel" target="_blank" class="arrow">➥</a>
  </section>

  <div class="col-5" id="nave" style="background-image: url('/assets/img/background.jpg')">
  </div>
  



</div>