<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <section class="align-center">
<header>
    <h1> 3D Mentes Lab ➷</h1>
</header>
   
    <form name="myForm" id="registerForm">
    <input class="input col-10" type="text" placeholder="Username" required/>
       <input class="input col-10" type="text" placeholder="Username" required/>
          <input class="input col-10" type="text" placeholder="Username" required/>
             <input class="input col-10" type="text" placeholder="Username" required/>
    <input class="input col-10" type="password" placeholder="Password" required/>
    <button type="submit" class="btn col-6 btn-success">Registrate</button>
    </form>
    
    <footer>
        <i>Entérate lo nuevo,<a> siguenos...</a></i>
    </footer>
        <div class="arrow">➥</div>
</section>
</div>